/* --- Estilo para todos los TextField --- */
.text-field {
    -fx-font-size: 18px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 0;
    -fx-background-color: white;
}

/* --- Fondo del tablero principal --- */
.grid-pane {
    -fx-background-color: white;
    -fx-hgap: 0;
    -fx-vgap: 0;
    -fx-alignment: center;
}

/* --- Clase para los subcuadros del tablero --- */
.subgrid {
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-background-color: white;
    -fx-hgap: 0;
    -fx-vgap: 0;
    -fx-alignment: center;
}

/* --- Botones generales --- */
.button {
    -fx-background-color: #e0e0e0;
    -fx-font-size: 14px;
    -fx-padding: 5 15 5 15;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #bcbcbc;
}
